version: '3.8'

services:
  clickhouse:
    image: clickhouse/clickhouse-server:23.10
    container_name: clickhouse
    ports:
      - "8123:8123"   # HTTP interface
      - "9000:9000"   # Native client port
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ./migrations:/docker-entrypoint-initdb.d
    environment:
      CLICKHOUSE_DB: playground
      CLICKHOUSE_USER: local
      CLICKHOUSE_PASSWORD: local
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1

    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s



volumes:
  clickhouse_data: